<h2 mat-dialog-title>User Information</h2>
<div mat-dialog-content>
  <p><strong>Name:</strong> {{ data.learner.name }}</p>
  <p><strong>Email:</strong> {{ data.learner.email }}</p>
  <p><strong>Mobile Number:</strong> {{ data.learner.mobileNumber }}</p>
  <p><strong>Location:</strong> {{ data.learner.learnerLocation.cityName }}</p>
</div>

<h2 mat-dialog-title>Course Details</h2>
<div mat-dialog-content>
  <p><strong>Title:</strong> {{ data.course.title }}</p>
  <p><strong>Description:</strong> {{ data.course.description }}</p>
  <p>
    <strong>Registration Validity:</strong>
    {{ data.course.registrationValidity }}
  </p>
  <p><strong>Branches:</strong></p>
  <ul>
    <li>
      {{ data.branch.branchLocation }}
    </li>
  </ul>
</div>

<h2 mat-dialog-title>Registration Details</h2>
<div mat-dialog-content>
  <p><strong>Start Date:</strong> {{ data.startDate }}</p>
  <p><strong>End Date:</strong> {{ data.endDate }}</p>
  <p><strong>Duration:</strong> {{ data.duration }} months</p>
  <p><strong>Fees:</strong> {{ data.fees }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onContinue()">
    Continue to Dashboard
  </button>
</div>
