.course-details {
  display: flex;
  flex-direction: column;
}

.course-details__item {
  margin-bottom: 20px;
}

.course-details__heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.course-details__value {
  margin: 0;
}

.course-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.course-details__list-item:before {
  content: "•";
  color: #0077c2;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
